@import "tailwindcss";


@font-face {
    font-family: "Instrument-Sans";
    src: url(./assets/fonts/InstrumentSans-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Instrument-Sans";
    src: url(./assets/fonts/InstrumentSans-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Instrument-Sans";
    src: url(./assets/fonts/InstrumentSans-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Instrument-Sans";
    src: url(./assets/fonts/InstrumentSans-Regular.ttf) format("truetype");
    font-weight: 400;
}

:root {
    --font-instrument-sans: "Instrument-Sans", sans-serif;
}

*{
  font-family: var(--font-instrument-sans);
}


